.DS_STORE
*.pyc
.idea/*
.idea/workplace.xml	

__pycache__/\.idea/__pycache__\.iml

__pycache__/\.idea/inspectionProfiles/profiles_settings\.xml

__pycache__/\.idea/misc\.xml

__pycache__/\.idea/modules\.xml

__pycache__/\.idea/workspace\.xml
